<html>
    <head>
        <title>Your profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/profil.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>



        <div class="all-profile"> 
            <div class="back">
                <button class="backbutton"><a href="\"><b>Back</b></a></button>
                <button class="promote_button admin"><a id="promote">Promoveaza la instructor</a></button>
            </div>
            <div class="body-profile">
                <h2>Informatii profil</h2>
                <div class="profile-container">
                    <table class="profil-table">
                        <tr>
                            <th class="item">Nume:</th>
                            <td class="completed"><%=data.userDetails.lastname%></td>
                        </tr>
                        <tr>
                            <th class="item">Prenume:</th>
                            <td class="completed"><%=data.userDetails.firstname%></td>
                        </tr>
                        <tr>
                            <th class="item">Username:</th>
                            <td class="completed"><%=data.userDetails.username%></td>
                        </tr>
                        <tr>
                            <th class="item">Email:</th>
                            <td class="completed"><%=data.userDetails.email%></td>
                        </tr>
                        <tr>
                            <th class="item">Data nasterii:</th>
                            <td class="completed"><%=data.userDetails.birthday%></td>
                        </tr>                
                    </table>
                    <form id="PassForm" class="formPass myacc">
                        Parola veche:<br> <input class="myacc" type="password" name="oldPass" required><br>
                        Parola noua: <br> <input class="myacc" type="password" name="newPass" required><br>
                   
                        <button type="submit" class="changePass">Schimba parola</button>
                    </form>
                    <button class="logout myacc"><a id="logout" >Deconectare</a></button>
                </div>
                  
            </div>

            <div class="cursuri-inscrise">
                    
                <div class="mycourses" ><h3 id="cursmele">Cursurile mele</h3></div>
                <!-- dinamic adaug cursurile -->
                <div class="curs_inscr-container">
                    <ul>
                        <% for(var i=0;i<data.userDetails.courses.length;i++){%>
                            <li>
                                <div class="profil-cursuri">
                                    <div class="cursuri-back-profil">
                                        <h3 class="cursuri-name-profil"><%=data.userDetails.courses[i].name%></h3>
                                        <div class="curs-ascuns">
                                            <a class="myacc" href ="" onclick="RetragereCurs('<%=data.userDetails.courses[i]._id%>')">Retragere</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
                </div>

            </div>

        </div>

    </body>
    <script src="/js/profil.js"></script>
    <script type="text/javascript">
        let form=document.getElementById('PassForm')
        form.addEventListener('submit',(e)=>{
            alert("am apasat");
            console.log(form.elements);
            e.preventDefault()
            let data={
                //id:data.userDetails._id,
                old:form.elements.oldPass,
                nou:form.elements.newPass
            }
            console.log(data);
            fetch('http://localhost:3005/user/changePass',{
                method:'POST',
                body:JSON.stringify(data),
                headers:{
                    'Content-Type':'application/json'
                }
            }).then(res=>{
               
                if(res.status==201) {
                    alert("Te-ai inregistrat cu succes");
                    window.location = "./login.html";
                    return res.json()
                    
                }
                return Promise.reject(res);
            
            })
            .then(response=>{   })
            .catch(errorRes=>{return errorRes.json()})
            .then(error=>alert(error.message))
        })
    </script>
</html>
